<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RedExplosionSimple2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1183},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{90,90}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1375},{102,102}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{102,102}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,703},{108,112}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{108,112}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1369},{114,118}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,69},{114,118}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1369},{114,118}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,69},{114,118}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,815},{124,136}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,59},{124,136}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1247},{132,142}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,54},{132,142}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1115},{136,150}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,51},{136,150}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1117},{136,156}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,46},{136,156}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1253},{136,150}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,53},{136,150}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1109},{138,156}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,51},{138,156}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,965},{144,156}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,48},{144,156}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1103},{150,158}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,42},{150,158}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,951},{162,166}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{162,166}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,955},{160,182}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,35},{160,182}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,791},{164,190}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,29},{164,190}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,771},{172,190}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,32},{172,190}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,765},{178,192}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,29},{178,192}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,599},{172,198}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,26},{172,198}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,425},{176,202}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,25},{176,202}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,421},{178,202}}</string>
                <key>offset</key>
                <string>{25,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,22},{178,202}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,601},{164,194}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,19},{164,194}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,943},{140,170}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,46},{140,170}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,419},{44,26}}</string>
                <key>offset</key>
                <string>{23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,139},{44,26}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,419},{44,26}}</string>
                <key>offset</key>
                <string>{23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,139},{44,26}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple2_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,419},{44,26}}</string>
                <key>offset</key>
                <string>{23,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,139},{44,26}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1389},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,83},{92,92}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,599},{110,104}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,76},{110,104}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1253},{118,116}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,72},{118,116}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,927},{122,126}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{122,126}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,791},{128,136}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,62},{128,136}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1049},{134,146}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,57},{134,146}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1233},{142,152}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,53},{142,152}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1083},{150,166}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,46},{150,166}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,943},{160,176}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,42},{160,176}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,799},{166,184}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,37},{166,184}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,627},{172,192}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,33},{172,192}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,611},{180,198}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,31},{180,198}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,423},{188,204}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,26},{188,204}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,419},{208,236}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,10},{208,236}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1},{206,244}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,6},{206,244}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,213},{208,254}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,2},{208,254}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,211},{208,258}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{208,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1},{210,258}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{210,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{212,258}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{212,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,258}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{212,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{212,256}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{212,256}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,207},{216,238}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{216,238}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,207},{216,238}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{216,238}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>RedExplosionSimple_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,207},{216,238}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{216,238}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ExplosionAtlas.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44cfb4591f33b6bb395aa9aad23ccdce$</string>
            <key>textureFileName</key>
            <string>ExplosionAtlas.png</string>
        </dict>
    </dict>
</plist>
